<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" routerLink="/">{{title}}</a>
  <button class="navbar-toggler" type="button" [attr.aria-expanded]="!collapsed" (click)="collapsed = !collapsed"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.collapse]="collapsed">
    <ul class="navbar-nav mr-auto ml-4">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/members">Members</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/car-model">Car Models</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/car-make">Car Makes</a>
      </li>
    </ul>
  </div>

</nav>